<div class="explorer-container">
  <div class="toolbar">
    <button (click)="navigateBack()" class="toolbar-button" [disabled]="!currentPath" aria-label="Go back">
      ←
    </button>
    <div class="breadcrumb">
      <span *ngIf="!currentPath">This PC</span>
      <ng-container *ngIf="currentPath">
        <span *ngFor="let crumb of breadcrumbs; let last = last; let i = index">
          <span 
            (click)="navigateTo(getBreadcrumbPath(i))" 
            [class.clickable]="!last"
          >
            {{ crumb }}
          </span>
          {{ !last ? ' > ' : '' }}
        </span>
      </ng-container>
    </div>
    <div class="system-info">
      OS: {{ systemInfo.os }} {{ systemInfo.release }}
    </div>
  </div>

  <div class="content">
    <!-- Show drives when no path is selected -->
    <div *ngIf="!currentPath" class="drives-container">
      <div *ngFor="let drive of drives" 
           class="drive-item"
           (click)="navigateTo(drive.path)"
           role="button"
           tabindex="0"
           [attr.aria-label]="'Drive ' + drive.name + ' with ' + formatSize(drive.free) + ' free of ' + formatSize(drive.total)">
        <lucide-icon [img]="HardDriveIcon"></lucide-icon>
        <div class="drive-info">
          <div class="drive-name">{{ drive.name }}</div>
          <div class="drive-space">
            {{ formatSize(drive.free) }} free of {{ formatSize(drive.total) }}
          </div>
          <div class="drive-bar">
            <div class="drive-bar-used" 
                 [style.width.%]="(drive.used / drive.total) * 100">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Show files and folders when path is selected -->
    <div *ngIf="currentPath" class="files-container">
      <div *ngIf="!isRoot(currentPath)" 
           class="file-item"
           (click)="navigateBack()"
           role="button"
           tabindex="0"
           aria-label="Go to parent directory">
        <lucide-icon [img]="FolderIcon"></lucide-icon>
        <span class="file-name">..</span>
      </div>
      <div *ngFor="let item of items" 
           class="file-item"
           (click)="item.isDirectory && navigateTo(item.path)"
           role="button"
           tabindex="0"
           [attr.aria-label]="item.name + (item.isDirectory ? ' folder' : ' file')">
        <lucide-icon [img]="item.isDirectory ? FolderIcon : FileIcon"></lucide-icon>
        <span class="file-name">{{ item.name }}</span>
      </div>
    </div>
  </div>
</div>